* {
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	height: 100%;
	font-family: 'Futurice Regular', sans-serif;
	font-size: 1.1vmin;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	/*
	background: #46289A;
	background: -webkit-linear-gradient(-45deg, #46289A 0%, #8735a5 100%);
	background: linear-gradient(120deg, #46289A 0%, #8735a5 100%);
	*/
	background: #FFF;
	color: #210F00;
	position: relative;
	overflow: hidden;
}


h1 {
	font-size: 50px;
	font-size: 10vmin;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	/*
	justify-content: center;
	align-items: center;
	*/
	padding: 0 30px;
	z-index: 2;
	background-color: rgba(230, 230, 230, .1);
}

#bg {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	background-position: center;
	background-size: cover;
	/* filter: blur(10px) contrast(0.5); */
	opacity: 0.05;
	display: none;
}

.song {
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	*/
	animation: fade-in 0.4s ease;
	width: 50%;
	/*
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	width: 80%;
	*/

}

.song__cover {
	margin: 10px 30px 10px 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	float: left;
}


.song__cover img {
	z-index: 2;
	position: relative;
	border-radius: 0px;
	border-radius: 50%;
	max-width: 100%;
	width: 60px;
	height: 60px;
	-webkit-animation: scale-in 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	animation: scale-in 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	outline: none;
}

.song__info {
	min-height: 80px;
	padding-top: 8px;
}

.song__info__name {
	font-size: 1.7em;
	font-weight: bold;
	-webkit-animation: scale-in 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
	animation: scale-in 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
	transform-origin: 0 0;
	margin-top: 7px;
	color: #210F00;
}

.song__info__name .artist {
	color: #210F00;
	font-weight: bold;
}

.song__info__title {
	text-transform: uppercase;
	color: #329E41;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 28px;
	line-height: 30px;
	vertical-align: middle;
}

.icon {
	background-size: 100%;
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: 10px;
	float: left;
	top: -1px;
}
.play {
	background-image: url('play.svg');
}


.clock {
	position: absolute;
	top: 55%;
	transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	right: 30px;
	font-size: 3em;
	line-height: 1;
	color: #329E41;
}

/* Mobile styles */
@media (max-width: 768px) {
	body {
		font-size: 2vmin;
	}
	.container {
		overflow: hidden;
		justify-content: center;
		align-items: center;
	}
  .song {
		display: flex;
		justify-content: center;
		align-items: center;

    flex-direction: column;
  }
  .song__cover {
  	margin: 0 auto 30px;
  }
  .song__info__name, .song__info__title {
  	font-size: 1em;
  	text-align: center;
  	align-items: center;
  	align-content: center;
  	justify-content: center;
  }
}


/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-wekbit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
  }
}