* {
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	height: 100%;
	font-family: 'Futurice Regular', sans-serif;
	font-size: 1.1vmin;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	background: #FFF;
	color: #210F00;
	position: relative;
	overflow: hidden;
}


h1 {
	font-size: 50px;
	font-size: 10vmin;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	padding: 0;
	z-index: 2;
	background-color: rgba(230, 230, 230, .1);
}

#bg {
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	background-position: center;
	background-size: cover;
	opacity: 0.05;
	display: none;
}

.song {
	animation: fade-in 0.4s ease;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.song__cover {
	margin: 0 30px 0 0;
	width: 80px;
	height: 80px;
	border-radius: 0%;
	position: relative;
	float: left;
}


.song__cover img {
	z-index: 2;
	position: relative;
	border-radius: 0px;
	max-width: 100%;
	width: 80px;
	height: 80px;
	-webkit-animation: scale-in 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	animation: scale-in 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	outline: none;
}

.song__info {
	min-height: 80px;
	line-height: 80px;
}

.song__info__name {
	white-space: nowrap;
	font-size: 2.7em;
	font-weight: normal;
	-webkit-animation: scale-in 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
	animation: scale-in 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
	transform-origin: 0 0;
	margin-top: 4px;
	color: #210F00;
}

.song__info__name .artist {
	color: #210F00;
	font-weight: normal;
}

.song__info__title {
	text-transform: uppercase;
	color: #329E41;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	vertical-align: middle;
}

.icon {
	background-size: 100%;
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: 10px;
	float: left;
	top: -1px;
}
.play {
	background-image: url('play.svg');
}


.right-panel {
	position: absolute;
	top: 55%;
	transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	right: 30px;
	font-size: 3em;
	line-height: 1;
	color: #46289A;
	min-width: 250px;
}

.clock {
	display: inline-block;
	text-align: right;
}

.weather {
	display: inline-block;
	margin-right: 35px;
	color: #8e96cc;
	padding-left: 80px;
}
.weather i {
	font-size: 1.8em;

	position: absolute;
	top: 55%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	text-shadow: 1px 1px 1px #edeef4,
		2px 2px 1px #edeef4,
		3px 3px 1px #edeef4,
		4px 4px 1px #edeef4,
		5px 5px 1px #edeef4,
		6px 6px 1px #edeef4,
		7px 7px 1px #edeef4,
		8px 8px 1px #edeef4,
		9px 9px 1px #edeef4,
		10px 10px 1px #edeef4,
		11px 11px 1px #edeef4,
		12px 12px 1px #edeef4,
		13px 13px 1px #edeef4,
		14px 14px 1px #edeef4,
		15px 15px 1px #edeef4,
		16px 16px 1px #edeef4,
		17px 17px 1px #edeef4,
		18px 18px 1px #edeef4,
		19px 19px 1px #edeef4,
		20px 20px 1px #edeef4,
		21px 21px 1px #edeef4,
		22px 22px 1px #edeef4,
		23px 23px 1px #edeef4,
		24px 24px 1px #edeef4,
		25px 25px 1px #edeef4,
		26px 26px 1px #edeef4,
		27px 27px 1px #edeef4,
		28px 28px 1px #edeef4,
		29px 29px 1px #edeef4,
		30px 30px 1px #edeef4,
		31px 31px 1px #edeef4,
		32px 32px 1px #edeef4,
		33px 33px 1px #edeef4,
		34px 34px 1px #edeef4,
		35px 35px 1px #edeef4,
		36px 36px 1px #edeef4,
		37px 37px 1px #edeef4,
		38px 38px 1px #edeef4,
		39px 39px 1px #edeef4,
		40px 40px 1px #edeef4;
}

/* Mobile styles */
@media (max-width: 768px) {
	body {
		font-size: 2vmin;
	}
	.container {
		overflow: hidden;
		justify-content: center;
		align-items: center;
	}
  .song {
		display: flex;
		justify-content: center;
		align-items: center;

    flex-direction: column;
  }
  .song__cover {
  	margin: 0 auto 30px;
  }
  .song__info__name, .song__info__title {
  	font-size: 1em;
  	text-align: center;
  	align-items: center;
  	align-content: center;
  	justify-content: center;
  }
}


/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
